<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  
  <listeners>
    <listener class-name="ritikyadav.Testcomponents.Listeners"/>
    <!-- Add more listener classes if needed -->
  </listeners>

  <test thread-count="5" name="Test">
    <classes>
      <class name="Booking.BookingCode.BookFlightScriptUsingWaits"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
